@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles for the typewriter effect */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f4f6;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .typewriter {
    overflow: hidden; /* Ensures the content is hidden as it is typed */
    border-right: 0.15em solid #000; /* The cursor */
    white-space: nowrap; /* Prevents the text from wrapping */
    margin: 0 auto; /* Centers the element */
    letter-spacing: 0.15em; /* Space between characters */
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }
  
  .typing {
    display: inline-block;
    font-size: 2em;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }