@tailwind base;
@tailwind components;
@tailwind utilities;


.typewriter {
    display: inline-block; /* Ensures it takes the width of its content */
    overflow: hidden; /* Hide overflowed content */
    white-space: pre-wrap; /* Allow text to wrap */
    border-right: 0.15em solid #000; /* The cursor */
    letter-spacing: 0.15em; /* Space between characters */
    animation: typing 4s steps(40, end) 1s 1 normal both, blink-caret 0.75s step-end infinite;
    max-width: 100%; /* Ensures it doesn’t overflow its container */
  }
  
  /* Typing animation */
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }